@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.nothing_to {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin: 50px auto;
}

.navbar {
  font-weight: 200;
  font-style: italic;
  background-color: rgba(127, 255, 212, 0.5);
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav__left,
.nav__right {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.list-group button {
  font-weight: 300;
  font-size: 0.8em;
}

.list-group-item {
  display: grid;
  grid-template-columns: 10% 60% auto;
}

.nav__right span {
  cursor: pointer;
}

.add_task-container {
  position: relative;
  display: inline-block;
}

.add_task {
  background-color: rgba(0, 0, 0, 0.5);
  position: static;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .list-group-item {
    grid-template-columns: 10% auto 15%;
  }
}

@media screen and (min-width: 840px) {
  .container {
    width: 60%;
  }

  .list-group-item {
    grid-template-columns: 5% auto 20%;
  }
}
